body {
    background: #FFFFFF;
    font-family: 'Roboto';
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


.header_container {
    margin-top: 63px;
    margin-bottom: 49px;
}


h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 40px;
}

.logo_span {
    color: rgb(75, 202, 255);
}


.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 69px;
}

.nav_bar_first_item {
    padding: 20px 32px 20px 33px;
    color: #fff;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.nav_bar_second_item {
    padding: 20px 32px 20px 33px;
    color: #fff;
    border-right: 1px solid white;
}

.nav_bar_third_item {
    padding: 20px 32px 20px 33px;
    color: #fff;
    border-right: 1px solid white;
}

.nav_bar_fourth_item {
    padding: 20px 32px 20px 33px;
    color: #fff;
    border-right: 1px solid white;
}

.nav_bar_first_item:hover {
    background: #222F3A;
}

.nav_bar_second_item:hover {
    background: #222F3A;
}

.nav_bar_third_item:hover {
    background: #222F3A;
}

.nav_bar_fourth_item:hover {
    background: #222F3A;
}


.main_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.side_bar {
    width: 344px;
    border: 1px solid #000;
}


.link_text {
    color: #35444F;
}

.side_bar_item {
    padding: 26px 44px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

.side_bar_item:hover {
    background: #DBDBDB;
    display: flex;
    justify-content: center;
    align-self: center;
}

.main_content_container {
    max-width: 885px;
}



.img_box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px;
}


.first_main_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.second_main_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}


.footer_container {
    display: flex;
    justify-content: space-around;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-bottom: 30px;
}

.footer_ul {
    display: flex;
    width: 875px;
    height: 69px;
    align-items: center;
    justify-content: space-around;
    
}

.footer_text {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footerlink_text {
    color: #0C1927;
}

.copyright_container {
    width: 190px;
    height: 69px;
    display: flex;
    align-items: center;
    }

.copyright_sign {font-weight: 400;
    font-size: 24px;
    line-height: 24px;}

.footerlink_text:hover {text-decoration: underline;
    color: rgba(49, 129, 166, 1);}